

	<!-- Body -->
	<div class="container">
		<div class="row">
     
			<div class="col-md-8">
     
				<article>
          <%  @latest_articles.each do |article| %>
					<h2><%= link_to article.title, article %></h2>
            <div class="row">
			          	<div class="col-sm-6 col-md-6">
                    Posted: <%= article.created_at.time %>	
			          	</div>
			          </div>
			          <hr>
          
          <%= image_tag(article.avatar.url , class: "img-responsive") %>
			          <br />

			          <p class="lead">
                  <%= article.content.first(300) %>
                </p>
          
					  <p class="text-right">
              <%= link_to "continue reading...", article %>
				      </p>
          <div id="articleBorder"></div>
          <% end %>   
         
				</article>
    
			</div>
      <%= render 'sidebar' %>
		</div>
	</div>
