

	<!-- Body -->
	<div class="container">
		<div class="row">
     
			<div class="col-md-8">

       
				<article>
          <% @articles.each do |article| %>
					<h2><%= link_to article.title, article %></h2>
            <div class="row">
                
			          	<div class="col-sm-6 col-md-6">
                    
                    Posted: <%= article.created_at.time %>	
                   
			          	</div>
			          </div>
          
			          <hr>
          
			          <img src="http://www.campusghanta.com/wp-content/uploads/2012/04/Programming_OOP_Wallpaper_Red_by_hexeno-900x300.png" class="img-responsive">
			          <br />

			          <p class="lead">
                  <%= article.content.first(300) %>
                </p>
          
					  <p class="text-right">
              <%= link_to "continue reading...", article %>
				      </p>
          <% end %>
			          
            <%= will_paginate %>
				</article>
        
        
			</div>
   
      <%= render 'sidebar' %>
		</div>
	</div>
