

	<!-- Body -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">   
        
				<article>
					<h2><%= link_to @article.title, @article %></h2>
            <div class="row">
			          	<div class="col-sm-6 col-md-6">
                    Posted: <%= @article.created_at.time %>	
			          	</div>
			          </div>
			          <hr>
          <%= image_tag("#{@article.avatar_file_name}" , class: "img-responsive") %>
			          <br />
          
			          <p class="lead">
                  <%= @article.content %>
                </p>
          
				</article>      
        
			</div>
      <%= render 'sidebar' %>
		</div>
	</div>
