<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Lemuel Uhuru", root_path, id: "logo" %>
      <ul id="navList">
        <li><%= link_to "Contact", contact_path, id: "navText" %></li>
        <li><%= link_to "Projects", "#" , id: "navText" %></li>
        <li><%= link_to "Blog", articles_path, id: "navText" %></li>
        <li><%= link_to "Home", root_path, id: "navText" %></li>
      </ul>
    </div>
  </div>
</header>
